<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-08T16:24:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Vk/Documents/proj/AvatarEditLib</string>
</dict>
</plist>
